%blockquote{:class => "pull-right"}
  %p
    "Because I'm tired of getting this f%*ing 
    %strong spam
    !"
  %footer
    %small
      Author 
      %cite{:title=>"unknown"}unknown

%div{:class => "clearfix"}

%p{:class=>"lead"}
  Life is too short, and we're all very busy. 
%p
I find that I spend a lot of time trying to get rid of (un)solicited emails.
%br
%p
  I then had the idea of keeping all the direct 
  %abbr{:title=>"the link that is!"}URL's
  and collating them in a single place, so people could benefit of it without having to navigate
  through (sometimes) entire websites scavenging for a 
  %span{:class => "text-danger"} bloody
  website to find the hidden unsubscribe link.
%br
%p{:class=>"lead"}
  GoUnsubscribe.me 
  %abbr{:title=>"For the win"}FTW!
%p
  With GoUnsubscribe.me, you can easily find the service you want to unsubscribe from, and open the 
  %abbr{:title=>"the link that is!"}URL
  directly, so you can keep your inbox smart and lean!
