%h2
  Have your say!

%p
  I'd really like to talk to you, so make sure you reach me out if you'd also want to do the same. 
  You can contact me the following ways:

%div{:id=>"social"}
  %a{:href => "mailto:contact@gounsubscribe.me", :title => "Email",:class => "btn btn-default btn-lg", :target=>"_blank"}
    %i{:class => "icon-envelope"}
    Email
  %a{:href => "https://twitter.com/marcos_placona", :title => "marcos_placona on Twitter",:class => "btn btn-default btn-lg", :target=>"_blank"}
    %i{:class => "icon-twitter-sign"} 
    Twitter
  %a{:href => "https://plus.google.com/111557456465418142877", :title => "Marcos Placona on Google+",:class => "btn btn-default btn-lg", :target=>"_blank"}
    %i{:class => "icon-google-plus-sign"}
    Google+
  %a{:href => "http://uk.linkedin.com/in/marcosplacona", :title => "Marcos Placona on LinkedIn",:class => "btn btn-default btn-lg", :target=>"_blank"}
    %i{:class => "icon-linkedin-sign"}
    LinkedIn
  %a{:href => "https://github.com/mplacona", :title => "Marcos Placona on GitHub",:class => "btn btn-default btn-lg", :target=>"_blank"}
    %i{:class => "icon-github-sign"}
    GitHub
  %a{:href => "https://www.gittip.com/mplacona", :title => "Tip Marcos Placona on GitTip",:class => "btn btn-default btn-lg", :target=>"_blank"} 
    %i{:class => "icon-gittip"}
    Tip me on GitTip

