%div.row
    %div.span5
        %h2{:id =>"twitter"}
            Twitter
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"https://twitter.com/settings/notifications", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('https://twitter.com/settings/notifications')"} open
    %div.span5
        %h2{:id =>"klm"}
            KLM
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"http://www.klm.com/travel/gb_en/plan_and_book/special_offers/sign_up/unsubscribe.htm", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('http://www.klm.com/travel/gb_en/plan_and_book/special_offers/sign_up/unsubscribe.htm')"} open
    %div.span5
        %h2{:id =>"facebook"}
            Facebook
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"https://www.facebook.com/settings?tab=notifications", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('https://www.facebook.com/settings?tab=notifications')"} open
%div.row
    %div.span5
        %h2{:id =>"github"}
            Github
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"https://github.com/settings/notifications", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('https://github.com/settings/notifications')"} open
    %div.span5
        %h2{:id =>"adobe"}
            Adobe
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"http://www.adobe.com/uk/services/channelnewsletter/unsubscribe.html", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('http://www.adobe.com/uk/services/channelnewsletter/unsubscribe.html')"} open
    %div.span5
        %h2{:id =>"ebay-uk"}
            eBay (UK)
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"http://my.ebay.co.uk/ws/eBayISAPI.dll?MyEbayBeta&&CurrentPage=MyeBayNextNotificationPreferences&guest=1", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('http://my.ebay.co.uk/ws/eBayISAPI.dll?MyEbayBeta&&CurrentPage=MyeBayNextNotificationPreferences&guest=1')"} open
%div.row
    %div.span5
        %h2{:id =>"redbubble"}
            RedBubble
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"https://www.redbubble.com/account/settings", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('https://www.redbubble.com/account/settings')"} open
    %div.span5
        %h2{:id =>"linkedin"}
            LinkedIn
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"https://www.linkedin.com/job/home?trk=rj_optout", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('https://www.linkedin.com/job/home?trk=rj_optout')"} open
    %div.span5
        %h2{:id =>"amazon-local-uk"}
            Amazon Local (UK)
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"https://local.amazon.co.uk/account?openid.assoc_handle=amzn_local_uk", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('https://local.amazon.co.uk/account?openid.assoc_handle=amzn_local_uk')"} open
%div.row
    %div.span5
        %h2{:id =>"packt-publishing"}
            Packt Publishing
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"https://www.packtpub.com/account", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('https://www.packtpub.com/account')"} open
