%div{:class=>"col-12 col-sm-6 col-lg-4"}
    %a{:name =>"adobe", :class => "anchor"}
    %h2
        Adobe
    %p
        
        %div{:class=>"col-lg-9"}
            %input{:type=>"text", :class=>"form-control", :id=>"disabledInput", :value=>"http://www.adobe.com/uk/services/channelnewsletter/unsubscribe.html", :disabled=>"disabled"}
        %button{:type=>"button", :onclick => "openLink('http://www.adobe.com/uk/services/channelnewsletter/unsubscribe.html')", :class=>"btn btn-default"} open
%div{:class=>"col-12 col-sm-6 col-lg-4"}
    %a{:name =>"amazon-local-uk", :class => "anchor"}
    %h2
        Amazon Local (UK)
    %p
        
        %div{:class=>"col-lg-9"}
            %input{:type=>"text", :class=>"form-control", :id=>"disabledInput", :value=>"https://local.amazon.co.uk/account?openid.assoc_handle=amzn_local_uk", :disabled=>"disabled"}
        %button{:type=>"button", :onclick => "openLink('https://local.amazon.co.uk/account?openid.assoc_handle=amzn_local_uk')", :class=>"btn btn-default"} open
%div{:class=>"col-12 col-sm-6 col-lg-4"}
    %a{:name =>"code-school", :class => "anchor"}
    %h2
        Code School
    %p
        
        %div{:class=>"col-lg-9"}
            %input{:type=>"text", :class=>"form-control", :id=>"disabledInput", :value=>"https://www.codeschool.com/account/edit/", :disabled=>"disabled"}
        %button{:type=>"button", :onclick => "openLink('https://www.codeschool.com/account/edit/')", :class=>"btn btn-default"} open
%div{:class=>"col-12 col-sm-6 col-lg-4"}
    %a{:name =>"crucial", :class => "anchor"}
    %h2
        Crucial
    %p
        
        %div{:class=>"col-lg-9"}
            %input{:type=>"text", :class=>"form-control", :id=>"disabledInput", :value=>"https://www.crucial.com/uk/mysite/newsletterunsubscribe.aspx", :disabled=>"disabled"}
        %button{:type=>"button", :onclick => "openLink('https://www.crucial.com/uk/mysite/newsletterunsubscribe.aspx')", :class=>"btn btn-default"} open
%div{:class=>"col-12 col-sm-6 col-lg-4"}
    %a{:name =>"ebay-uk", :class => "anchor"}
    %h2
        eBay (UK)
    %p
        
        %div{:class=>"col-lg-9"}
            %input{:type=>"text", :class=>"form-control", :id=>"disabledInput", :value=>"http://my.ebay.co.uk/ws/eBayISAPI.dll?MyEbayBeta&&CurrentPage=MyeBayNextNotificationPreferences&guest=1", :disabled=>"disabled"}
        %button{:type=>"button", :onclick => "openLink('http://my.ebay.co.uk/ws/eBayISAPI.dll?MyEbayBeta&&CurrentPage=MyeBayNextNotificationPreferences&guest=1')", :class=>"btn btn-default"} open
%div{:class=>"col-12 col-sm-6 col-lg-4"}
    %a{:name =>"facebook", :class => "anchor"}
    %h2
        Facebook
    %p
        
        %div{:class=>"col-lg-9"}
            %input{:type=>"text", :class=>"form-control", :id=>"disabledInput", :value=>"https://www.facebook.com/settings?tab=notifications", :disabled=>"disabled"}
        %button{:type=>"button", :onclick => "openLink('https://www.facebook.com/settings?tab=notifications')", :class=>"btn btn-default"} open
%div{:class=>"col-12 col-sm-6 col-lg-4"}
    %a{:name =>"github", :class => "anchor"}
    %h2
        Github
    %p
        
        %div{:class=>"col-lg-9"}
            %input{:type=>"text", :class=>"form-control", :id=>"disabledInput", :value=>"https://github.com/settings/notifications", :disabled=>"disabled"}
        %button{:type=>"button", :onclick => "openLink('https://github.com/settings/notifications')", :class=>"btn btn-default"} open
%div{:class=>"col-12 col-sm-6 col-lg-4"}
    %a{:name =>"google-adsense-ads", :class => "anchor"}
    %h2
        Google Adsense (Ads)
    %p
        
        %div{:class=>"col-lg-9"}
            %input{:type=>"text", :class=>"form-control", :id=>"disabledInput", :value=>"https://www.google.com/adsense/app#account", :disabled=>"disabled"}
        %button{:type=>"button", :onclick => "openLink('https://www.google.com/adsense/app#account')", :class=>"btn btn-default"} open
%div{:class=>"col-12 col-sm-6 col-lg-4"}
    %a{:name =>"google-analytics", :class => "anchor"}
    %h2
        Google Analytics
    %p
        
        %div{:class=>"col-lg-9"}
            %input{:type=>"text", :class=>"form-control", :id=>"disabledInput", :value=>"https://www.google.com/analytics/web/?hl=en&pli=1#management/UserSettings/", :disabled=>"disabled"}
        %button{:type=>"button", :onclick => "openLink('https://www.google.com/analytics/web/?hl=en&pli=1#management/UserSettings/')", :class=>"btn btn-default"} open
%div{:class=>"col-12 col-sm-6 col-lg-4"}
    %a{:name =>"google-groups", :class => "anchor"}
    %h2
        Google Groups
    %p
        
        %div{:class=>"col-lg-9"}
            %input{:type=>"text", :class=>"form-control", :id=>"disabledInput", :value=>"https://groups.google.com/forum/#!usersettings/general", :disabled=>"disabled"}
        %button{:type=>"button", :onclick => "openLink('https://groups.google.com/forum/#!usersettings/general')", :class=>"btn btn-default"} open
%div{:class=>"col-12 col-sm-6 col-lg-4"}
    %a{:name =>"klm", :class => "anchor"}
    %h2
        KLM
    %p
        
        %div{:class=>"col-lg-9"}
            %input{:type=>"text", :class=>"form-control", :id=>"disabledInput", :value=>"http://www.klm.com/travel/gb_en/plan_and_book/special_offers/sign_up/unsubscribe.htm", :disabled=>"disabled"}
        %button{:type=>"button", :onclick => "openLink('http://www.klm.com/travel/gb_en/plan_and_book/special_offers/sign_up/unsubscribe.htm')", :class=>"btn btn-default"} open
%div{:class=>"col-12 col-sm-6 col-lg-4"}
    %a{:name =>"linkedin", :class => "anchor"}
    %h2
        LinkedIn
    %p
        
        %div{:class=>"col-lg-9"}
            %input{:type=>"text", :class=>"form-control", :id=>"disabledInput", :value=>"https://www.linkedin.com/job/home?trk=rj_optout", :disabled=>"disabled"}
        %button{:type=>"button", :onclick => "openLink('https://www.linkedin.com/job/home?trk=rj_optout')", :class=>"btn btn-default"} open
%div{:class=>"col-12 col-sm-6 col-lg-4"}
    %a{:name =>"meetup", :class => "anchor"}
    %h2
        Meetup
    %p
        
        %div{:class=>"col-lg-9"}
            %input{:type=>"text", :class=>"form-control", :id=>"disabledInput", :value=>"http://www.meetup.com/account/comm/", :disabled=>"disabled"}
        %button{:type=>"button", :onclick => "openLink('http://www.meetup.com/account/comm/')", :class=>"btn btn-default"} open
%div{:class=>"col-12 col-sm-6 col-lg-4"}
    %a{:name =>"packt-publishing", :class => "anchor"}
    %h2
        Packt Publishing
    %p
        
        %div{:class=>"col-lg-9"}
            %input{:type=>"text", :class=>"form-control", :id=>"disabledInput", :value=>"https://www.packtpub.com/account", :disabled=>"disabled"}
        %button{:type=>"button", :onclick => "openLink('https://www.packtpub.com/account')", :class=>"btn btn-default"} open
%div{:class=>"col-12 col-sm-6 col-lg-4"}
    %a{:name =>"quora", :class => "anchor"}
    %h2
        Quora
    %p
        
        %div{:class=>"col-lg-9"}
            %input{:type=>"text", :class=>"form-control", :id=>"disabledInput", :value=>"https://www.quora.com/settings/preferences", :disabled=>"disabled"}
        %button{:type=>"button", :onclick => "openLink('https://www.quora.com/settings/preferences')", :class=>"btn btn-default"} open
%div{:class=>"col-12 col-sm-6 col-lg-4"}
    %a{:name =>"redbubble", :class => "anchor"}
    %h2
        RedBubble
    %p
        
        %div{:class=>"col-lg-9"}
            %input{:type=>"text", :class=>"form-control", :id=>"disabledInput", :value=>"https://www.redbubble.com/account/settings", :disabled=>"disabled"}
        %button{:type=>"button", :onclick => "openLink('https://www.redbubble.com/account/settings')", :class=>"btn btn-default"} open
%div{:class=>"col-12 col-sm-6 col-lg-4"}
    %a{:name =>"slideshare", :class => "anchor"}
    %h2
        Slideshare
    %p
        
        %div{:class=>"col-lg-9"}
            %input{:type=>"text", :class=>"form-control", :id=>"disabledInput", :value=>"http://www.slideshare.net/MarcosPlacona/update_email_preferences", :disabled=>"disabled"}
        %button{:type=>"button", :onclick => "openLink('http://www.slideshare.net/MarcosPlacona/update_email_preferences')", :class=>"btn btn-default"} open
%div{:class=>"col-12 col-sm-6 col-lg-4"}
    %a{:name =>"sony-playstation-eu", :class => "anchor"}
    %h2
        Sony Playstation (EU)
    %p
        
        %div{:class=>"col-lg-9"}
            %input{:type=>"text", :class=>"form-control", :id=>"disabledInput", :value=>"https://secure.eu.playstation.com/psn/mypsn/account/", :disabled=>"disabled"}
        %button{:type=>"button", :onclick => "openLink('https://secure.eu.playstation.com/psn/mypsn/account/')", :class=>"btn btn-default"} open
%div{:class=>"col-12 col-sm-6 col-lg-4"}
    %a{:name =>"stumbleupon", :class => "anchor"}
    %h2
        StumbleUpon
    %p
        
        %div{:class=>"col-lg-9"}
            %input{:type=>"text", :class=>"form-control", :id=>"disabledInput", :value=>"https://www.stumbleupon.com/settings/notifications", :disabled=>"disabled"}
        %button{:type=>"button", :onclick => "openLink('https://www.stumbleupon.com/settings/notifications')", :class=>"btn btn-default"} open
%div{:class=>"col-12 col-sm-6 col-lg-4"}
    %a{:name =>"twitter", :class => "anchor"}
    %h2
        Twitter
    %p
        
        %div{:class=>"col-lg-9"}
            %input{:type=>"text", :class=>"form-control", :id=>"disabledInput", :value=>"https://twitter.com/settings/notifications", :disabled=>"disabled"}
        %button{:type=>"button", :onclick => "openLink('https://twitter.com/settings/notifications')", :class=>"btn btn-default"} open
%div{:class=>"col-12 col-sm-6 col-lg-4"}
    %a{:name =>"udacity", :class => "anchor"}
    %h2
        Udacity
    %p
        
        %div{:class=>"col-lg-9"}
            %input{:type=>"text", :class=>"form-control", :id=>"disabledInput", :value=>"https://www.udacity.com/account/settings#!/account", :disabled=>"disabled"}
        %button{:type=>"button", :onclick => "openLink('https://www.udacity.com/account/settings#!/account')", :class=>"btn btn-default"} open
%div{:class=>"col-12 col-sm-6 col-lg-4"}
    %a{:name =>"vmware", :class => "anchor"}
    %h2
        VMWare
    %p
        
        %div{:class=>"col-lg-9"}
            %input{:type=>"text", :class=>"form-control", :id=>"disabledInput", :value=>"https://my.vmware.com/group/vmware/profile?p_p_id=myProfilePortlet_WAR_itusermanagement&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-3&p_p_col_count=1&_myProfilePortlet_WAR_itusermanagement_action=communicationDetails", :disabled=>"disabled"}
        %button{:type=>"button", :onclick => "openLink('https://my.vmware.com/group/vmware/profile?p_p_id=myProfilePortlet_WAR_itusermanagement&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-3&p_p_col_count=1&_myProfilePortlet_WAR_itusermanagement_action=communicationDetails')", :class=>"btn btn-default"} open
