%div.row
    %div.span5
		  %a{:name =>"twitter", :class => "anchor"}
        %h2

            Twitter
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"https://twitter.com/settings/notifications", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('https://twitter.com/settings/notifications')"} open
    %div.span5
		  %a{:name =>"klm", :class => "anchor"}
        %h2

            KLM
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"http://www.klm.com/travel/gb_en/plan_and_book/special_offers/sign_up/unsubscribe.htm", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('http://www.klm.com/travel/gb_en/plan_and_book/special_offers/sign_up/unsubscribe.htm')"} open
    %div.span5
		  %a{:name =>"facebook", :class => "anchor"}
        %h2

            Facebook
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"https://www.facebook.com/settings?tab=notifications", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('https://www.facebook.com/settings?tab=notifications')"} open
%div.row
    %div.span5
		  %a{:name =>"github", :class => "anchor"}
        %h2

            Github
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"https://github.com/settings/notifications", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('https://github.com/settings/notifications')"} open
    %div.span5
		  %a{:name =>"adobe", :class => "anchor"}
        %h2

            Adobe
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"http://www.adobe.com/uk/services/channelnewsletter/unsubscribe.html", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('http://www.adobe.com/uk/services/channelnewsletter/unsubscribe.html')"} open
    %div.span5
		  %a{:name =>"ebay-uk", :class => "anchor"}
        %h2

            eBay (UK)
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"http://my.ebay.co.uk/ws/eBayISAPI.dll?MyEbayBeta&&CurrentPage=MyeBayNextNotificationPreferences&guest=1", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('http://my.ebay.co.uk/ws/eBayISAPI.dll?MyEbayBeta&&CurrentPage=MyeBayNextNotificationPreferences&guest=1')"} open
%div.row
    %div.span5
		  %a{:name =>"redbubble", :class => "anchor"}
        %h2

            RedBubble
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"https://www.redbubble.com/account/settings", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('https://www.redbubble.com/account/settings')"} open
    %div.span5
		  %a{:name =>"linkedin", :class => "anchor"}
        %h2

            LinkedIn
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"https://www.linkedin.com/job/home?trk=rj_optout", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('https://www.linkedin.com/job/home?trk=rj_optout')"} open
    %div.span5
		  %a{:name =>"amazon-local-uk", :class => "anchor"}
        %h2

            Amazon Local (UK)
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"https://local.amazon.co.uk/account?openid.assoc_handle=amzn_local_uk", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('https://local.amazon.co.uk/account?openid.assoc_handle=amzn_local_uk')"} open
%div.row
    %div.span5
		  %a{:name =>"packt-publishing", :class => "anchor"}
        %h2

            Packt Publishing
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"https://www.packtpub.com/account", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('https://www.packtpub.com/account')"} open
    %div.span5
		  %a{:name =>"crucial", :class => "anchor"}
        %h2

            Crucial
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"https://www.crucial.com/uk/mysite/newsletterunsubscribe.aspx", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('https://www.crucial.com/uk/mysite/newsletterunsubscribe.aspx')"} open
    %div.span5
		  %a{:name =>"quora", :class => "anchor"}
        %h2

            Quora
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"https://www.quora.com/settings/preferences", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('https://www.quora.com/settings/preferences')"} open
%div.row
    %div.span5
		  %a{:name =>"udacity", :class => "anchor"}
        %h2

            Udacity
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"https://www.udacity.com/account/settings#!/account", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('https://www.udacity.com/account/settings#!/account')"} open
    %div.span5
		  %a{:name =>"stumbleupon", :class => "anchor"}
        %h2

            StumbleUpon
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"https://www.stumbleupon.com/settings/notifications", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('https://www.stumbleupon.com/settings/notifications')"} open
    %div.span5
		  %a{:name =>"meetup", :class => "anchor"}
        %h2

            Meetup
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"http://www.meetup.com/account/comm/", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('http://www.meetup.com/account/comm/')"} open
%div.row
    %div.span5
		  %a{:name =>"sony-playstation-eu", :class => "anchor"}
        %h2

            Sony Playstation (EU)
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"https://secure.eu.playstation.com/psn/mypsn/account/", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('https://secure.eu.playstation.com/psn/mypsn/account/')"} open
    %div.span5
		  %a{:name =>"slideshare", :class => "anchor"}
        %h2

            Slideshare
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"http://www.slideshare.net/MarcosPlacona/update_email_preferences", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('http://www.slideshare.net/MarcosPlacona/update_email_preferences')"} open
    %div.span5
		  %a{:name =>"google-groups", :class => "anchor"}
        %h2

            Google Groups
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"https://groups.google.com/forum/#!usersettings/general", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('https://groups.google.com/forum/#!usersettings/general')"} open
%div.row
    %div.span5
		  %a{:name =>"google-analytics", :class => "anchor"}
        %h2

            Google Analytics
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"https://www.google.com/analytics/web/?hl=en&pli=1#management/UserSettings/", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('https://www.google.com/analytics/web/?hl=en&pli=1#management/UserSettings/')"} open
    %div.span5
		  %a{:name =>"google-adsense-ads", :class => "anchor"}
        %h2

            Google Adsense (Ads)
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"https://www.google.com/adsense/app#account", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('https://www.google.com/adsense/app#account')"} open
    %div.span5
		  %a{:name =>"vmware", :class => "anchor"}
        %h2

            VMWare
        %p
            %input{:type=>"text", :class=>"js-url-field", :value=>"https://my.vmware.com/group/vmware/profile?p_p_id=myProfilePortlet_WAR_itusermanagement&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-3&p_p_col_count=1&_myProfilePortlet_WAR_itusermanagement_action=communicationDetails", :readonly=>"readonly"}
            %button{:type=>"button", :onclick => "openLink('https://my.vmware.com/group/vmware/profile?p_p_id=myProfilePortlet_WAR_itusermanagement&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-3&p_p_col_count=1&_myProfilePortlet_WAR_itusermanagement_action=communicationDetails')"} open
