!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title GoUnsubscribe.me | Free yourself from newsletters and spam
    %meta{:name => "description", :content => "Unsubscribe yourself from newsletters and spam sent to you. Simply look up for a service that has been spamming you, and get a direct link to update your preferences and remove yourself from it."}/
    %meta{:name => "author", :content => "Marcos Placona"}/
    %meta{:name => "keywords", :content => "unsubscribe, spam, internet email, email unsubscribe, newsletter, newsletter unsubscribe"}/


    %link{:href => "/styles/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/images/favicon.ico", :type => "image/x-icon", :rel => "shortcut icon"}/
    %link{:rel => "stylesheet", :href => "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"}

    %script{:src => "http://code.jquery.com/jquery-1.9.1.js"}
    %script{:src => "http://code.jquery.com/ui/1.10.3/jquery-ui.js"}

  %body{:style => "padding-top: 60px"}     
    %div.topbar
      %div.fill
        %div.container
          %a{:class => "brand", :href => "/"} Go Unsubscribe.me
          %ul{:class => "nav"}
            %li
              %a{:class => "active", :href => "/"} Home
            %li{:style => "padding-top:5px;"}
              %input{:type => "text", :id => "siteName"}
              %input{:type => "button", :value => "Search", :onclick => "search();"}
    
    %div.container
      %div.hero-unit
        %h1
          Go Unsubscribe.me
        %p
          A handful list of links to help you quickly unsubscribe from a bunch of online services and keep your inbox spam free

      #content
        =yield

      %footer
        %p
          &copy; 
          %a{:href => "http://www.placona.co.uk", :target => "_blank", :title => "Marcos Placona"} Marcos Placona
          2013
          | 
          %a{:href => "https://github.com/mplacona/gounsubscribe.me", :target => "_blank", :title => "Fork me on GitHub"} Fork me on GitHub
      
      %script{:type => "text/javascript", :src => "/scripts/site.js"}
