input.copy {
    float: left;
    width: 132px;
    min-height: 26px;
    padding: 4px 5px;
    font-family: Monaco, "Liberation Mono", Courier, monospace;
    font-size: 11px;
    color: #999;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

button.zeroclipboard-button .octicon {
    margin-right: 0;
}



button .octicon {
    vertical-align: middle;
    margin-top: -1px;
    margin-right: 6px;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
}
